*
  padding 0
  margin 0
  box-sizing border-box
  font-family arial

ul
  list-style none

.clearfix
  &:before
  &:after
    content ''
    display table
    clear both

.card
  display inline-block
  vertical-align top
  width calc(20% - 20px)
  margin 10px
  border 1px solid #ccc
  border-radius 5px
  +tablet()
    width calc(33% - 20px)
  +mobile()
    width calc(50% - 20px)


.card-body
.card-header
  padding 10px

.card-body
  font-size 14px

.card-header
  background #f0f0f0

.card-img
  width 50px
  height auto
  float left
  margin 0 10px 10px 0

.label
  display inline-block
  border-radius 3px
  background #ccc
  font-weight bold
  font-size 10px
  padding 3px 5px
  color #fff

.label-blue
  background #3498db

.card-list
  clear both

.filters
  padding 20px
  border-bottom 2px solid #ccc

.filter
  margin-right 20px
